* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  font-size:1.3rem;
  background-size: cover;
  background-image: url(xielo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #66999
}

a {
  color: rgb(187, 5, 5);
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  
}

.main-header h1 span {
  color: #b81c1f;
}

.main-header p {
  font-size: 2rem; 
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #d4d11f;
  margin-bottom: 2rem;
  
}

.card h3 {
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: bold;
}

.card img {
  height: 400px;
  object-fit: cover;
  height: auto; 
}

.card > div {
  padding: 2rem;
  
}

.card:nth-child(even) img {
  order: 2;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width:600px) {
  .card {
    display: block;
  }
  
}
